<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
<h1>Books</h1>
<a href="/admin/book/add">Add New Book</a>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <td><a th:href="@{/admin/book/edit/{id}(id=${book.id})}">Edit</a> | <a th:href="@{/admin/book/delete/{id}(id=${book.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>


