<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="/css/bookList.css">
</head>
<body>
    <h1>All Books</h1>
    <a href="/admin/dashboard">Back to Dashboard</a>

    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Book Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="book : ${books}">
                <tr>
                    <td th:text="${book.id}">Book ID</td>
                    <td th:text="${book.title}">Book Title</td>
                    <td th:text="${book.author}">Book Author</td>
                    <td><strong>Rs.<span th:text="${book.price}">Book Price</span></strong></td>
                    <td>
                        <a th:href="@{/admin/edit/{id}(id=${book.id})}">Edit</a>
                        <form th:action="@{/admin/deleteBook/{id}(id=${book.id})}" method="post" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>
